html {
    font-family: sans-serif;
    /* -webkit-text-size-adjust: 100%; */
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #000000;
    height: 100%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #363D42;
  color: white;
  padding: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 450;
    line-height: 1.1;
    color: #000000;
}
h2, .h2{
  font-weight: 600;
  color: #386c66;
}

.titlefooter{
  font-family: 'Montserrat', sans-serif;
  color: #73bfe5;
  font-size: 16px;
}
.textfooter{
  font-family: 'Open Sans', sans-serif;
  color: #667780;
  font-size: 14px;
  color: inherit;
}

.titlebig {
    color: #ffffff;
    font-weight: 50;
    font-size: 5vw;
    font-family: 'Open Sans', sans-serif;
}

.title {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

/* fuente responsive */

@media screen and (min-width: 601px) {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.2vw;
      font-weight: 450;
      line-height: 1.1;
      color: #000000;
  }
  h2, .h2{
    font-size: 2.2vw;
    font-weight: 600;
    color: #386c66;
  }
}
@media screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 450;
      line-height: 1.1;
      color: #000000;
  }
  h2, .h2{
    font-size: 14px;
    font-weight: 600;
    color: #386c66;
  }
  body, p {
    font-size: 12px;
  }
}

.containerfull{
  min-height: 100%;
  overflow: hidden;
}

.maincontainer{
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;
}

.espacio{
  /* top, right, botton, left */
  /* padding: 30px, 30px, 20px; */
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.espacioforms{
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
}

.footercontainer{
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.btn-primary{
  background-color: #386c66;
  border-color: #386c66;
}

.btn-primary:hover {
    background-color: #438880 !important;
    border-color: #363D42;
}

.btn-secondary{
  background-color: #363D42;
}

.custom-radio .custom-control-label::before {
    background-color: #a6c2bf;
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #386c66;
    border-radius: 100%;
}

/* animate element config */
.bienvenido01, .app02 {
  -vendor-animation-duration: 3s;
  animation-delay: 0.9s;
}

.arquero01, .app01{
  -vendor-animation-duration: 3s;
  animation-delay: 0.4s;
}

/* navbar efecto linea */
.navbar-custom a {
    float: left;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #73bfe6;
    /* text-decoration: underline; */
    /* background-color: green !important; */
    border-color: #73bfe6 !important;
}
